pipeline/pipeline1.json
{
	"name": "pipeline1",
	"properties": {
		"activities": [
			{
				"name": "LookupProcessableBlobs",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderStoredProcedureName": "[dbo].[uspGetProcessableBlobs]"
					},
					"dataset": {
						"referenceName": "AzureSqlTable1",
						"type": "DatasetReference"
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "LoopProcesableBlobs",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "LookupProcessableBlobs",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('LookupProcessableBlobs').value",
						"type": "Expression"
					},
					"isSequential": true,
					"activities": [
						{
							"name": "Set Blob Path",
							"type": "SetVariable",
							"dependsOn": [],
							"userProperties": [],
							"typeProperties": {
								"variableName": "blobpath",
								"value": {
									"value": "@activity('LookupProcessableBlobs').output",
									"type": "Expression"
								}
							}
						},
						{
							"name": "Set Blob Name",
							"type": "SetVariable",
							"dependsOn": [],
							"userProperties": [],
							"typeProperties": {
								"variableName": "blobname",
								"value": {
									"value": "@activity('LookupProcessableBlobs').output",
									"type": "Expression"
								}
							}
						},
						{
							"name": "Set Container",
							"type": "SetVariable",
							"dependsOn": [
								{
									"activity": "Set Blob Path",
									"dependencyConditions": [
										"Succeeded"
									]
								},
								{
									"activity": "Set Blob Name",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"userProperties": [],
							"typeProperties": {
								"variableName": "blobpath",
								"value": {
									"value": "@activity('LookupProcessableBlobs').output",
									"type": "Expression"
								}
							}
						}
					]
				}
			}
		],
		"variables": {
			"blobpath": {
				"type": "String",
				"defaultValue": "@{item().Path}"
			},
			"blobname": {
				"type": "String",
				"defaultValue": "@{item().BlobName}"
			}
		},
		"annotations": []
	}
}